.experience {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.experience li{
    margin-bottom: 1rem;
}

.experience li .period{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.experience li .period::before{
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../img/icons/data.svg');
    margin-right: .5rem;
}

  .experience h2 {
    border-bottom: 2px solid #ffffff; 
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  