body {
    color: white; 
    margin-top: 50px;
    background-image: linear-gradient(to right, #002A4D, #004080, #007d68, #00695c);
    background-size: cover;
    font-weight: 400;
}

.titulo{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    font-size: 40px;
}

body input{
    margin-top: 10px;
}

body label{
    margin-top: 30px;
    font-size: 20px;
}

#telaConsulta{
    padding: 50px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}